/*  */
:root {
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --main-color-font: #212121;
  --second-color-font: #757575;
  --main-color-mark: #2196f3;
  --main-background-color: #2f303a;
  --background-color: #f5f4fa;
  --color-white: #ffffff;
  --color-font-footer: rgba(255, 255, 255, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font), 'Times New Roman', Times, serif;
  font-style: normal;
  color: var(--main-color-font);
}

.link:hover,
.link:focus {
  color: var(--main-color-mark);
}
.link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
}
.current {
  color: var(--main-color-mark);
}

/* header */

.logo {
  color: inherit;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.383;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-blue {
  color: var(--main-color-mark);
}

.list {
  list-style: none;
}

.header {
  background-color: var(--color-white);
}
.nav-mail-list {
  color: var(--second-color-font);
}

/* main */

/* hero section  */

.hero {
  background-color: var(--main-background-color);
}
.hero-title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* text-align: center; */
}
.hero-button {
  font-family: var(--main-font);
  border: 1px solid var(--main-color-mark);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--main-color-mark);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--main-background-color);
}

/* Секция "Наши преимущества" */

.item-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.item-section-text {
  color: var(--second-color-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* sections "our work" and "team" */

.our-work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--background-color);
}
.team-item {
  width: 270px;
  height: 368px;
  background-color: var(--color-white);
}
.team-member,
.team-rank {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-rank {
  font-weight: 400;
  color: var(--second-color-font);
}

/* "portfolio.html" styles body */
/* buttons-list */

.button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0, solid, var(--background-color);
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--main-color-mark);
}

/* portfolio cards */

.portfolio-cards-list {
  background-color: var(--color-white);
}
.portfolio-cards-item {
  width: 370px;
  height: 404px;
  background-color: var(--color-white);
}
.portfolio-cards-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-cards-type {
  color: var(--second-color-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background-color: var(--main-background-color);
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
}

.footer .list {
  color: var(--color-font-footer);
}
